@charset "utf-8";
@charset "utf-8";
.burgundy {
	background-color: #800020;
	color: #FFFFFF;
	text-decoration: none;
	
   
}

.container-fluid.shadows{ -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 15px #000000;}
.buttonalign{position: relative;
  top: 50%;
  transform: translateY(-50%);}
.active a{
	background-color: #0009a6 !important;
	color: #ffffff !important;
	 -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:  inset 0 0 15px #000000;
	

    
    
}
.nav.navbar-nav li a {
 color : white
}

.mission{
	background: url('images/mission.jpg') no-repeat center;
	background-size:100% auto;
	padding: 10px 0px 20px 0px;
}
.commercial{
	background: url('images/commercial.jpg') no-repeat center;
	background-size:100% auto;
}.residential{
	background: url('images/residential.jpeg') no-repeat center;
	background-size:100% auto ;
}.quick{
	background: url('images/quick.jpg') no-repeat center;
	background-size: 100% auto ;
}.yus{
	background: url('images/yus.jpeg') no-repeat center;
	background-size: 100% auto;
}
.white {
	color: #E8E8E8;
}


.text-center.col-md-6.col-md-offset-3.footerWhite {
	color: #E8E8E8;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}
.whiteBack {
	background-color: #FFFFFF;
}
.buttons {
	text-align: center;
}
.missionText {
	
	/*width: 36%;*/
	
}
.bgcircle {
	background-color: #800020;
	padding-top: 36px;
	padding-right: 36px;
	padding-bottom: 36px;
	padding-left: 36px;
	color: #FFFFFF;
	border-radius: 147px;
	font-size: 27px;
}



h1 {
	display: none;
}
h2{
	font-family: Georgia;
	color: white;
	font-size: 6vw;
	font-style: italic;
	text-align: center;
text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);


}
h3{
	font-family: Garamond;
	color: white;
	font-size: 4vw;
	font-weight: 400;
	line-height: 1.5em;
		
text-shadow: 1px 1px 2px rgba(0,0,0,.8), 2px 2px 3px rgba(0,0,0,.6);

}
img{height:100%;
	width: auto;

}
h4{font-family: Garamond;
	color: #212121;
	font-size: 5vw;
	font-weight: 400;
text-align: center;}
h5{font-family: Garamond;
	color: #212121;
	font-size: 4vw;
	font-weight: 400;
text-align: center;}
h6{font-family: 'Palatino Linotype';
	color: #0c0c0c;
	font-size: 3.5vw;
	font-weight: 400;
text-align: left;
	line-height:1.5em;
}
h7{
	font-family: 'Palatino Linotype';
	color: #e8e8e8;
	font-size: 2.1vw;
	font-weight: 400;
	text-align: center;
	
}

.imageBrux {
	width: 6%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 14px;
	margin-top: 14px;
}
.container-fluid.blue {
	background-color: #800020;
	 -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 15px #000000;
}
.nav.navbar-nav.table li a:hover {
	color: #FFFFFF;
	 -moz-box-shadow:     0 0 10px #cccccc;
   -webkit-box-shadow:  0 0 10px #cccccc;
   box-shadow:          0em 0 10px #ffffff, inset 0em 0 15px #ffffff;
	-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}


.row.footerGray {
	background-color: #252525;
	padding-top: 0px;
	padding-bottom: 4px;
}
.fix {
	margin-top: 0px;
}
.nav.navbar-nav.navbar-right.fix2 a:hover {
	background-color: #800020;
	-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}
.navbar-header.fix3 a:hover {
	background-color: #490012;
	-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
	color: #FFFFFF;
}
.navbar-default { margin : 0 !important; }
.row .col-lg-4 .img-circle.img-responsive {
	max-height: 293px;


}
.container-fluid.space {
	margin-top: 21px;
	margin-bottom: 21px;
}
.container.space {
	margin-top: 21px;
}
.container-fluid.spaceLess {
	margin-top: 10px;
}
.row.mission .buttons.col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1 .btn.btn-lg.btn-default.buttonQuote {
	background-color: ;
	color: #000000;
	font-weight: 600;
	-moz-box-shadow: inset 0 0 15px #000000, 0 0 18px #fff, 0 0 5px #fff;
	-webkit-box-shadow: inset 0 0 15px #000000, 0 0 18px #fff, 0 0 5px #fff;
	box-shadow: inset 0 0 15px #000000, 0 0 18px #fff, 0 0 5px #fff;
	background-color: #F3CD2C;
}
.col-lg-12.col-md-12 .bgcircle.fix4 {
	margin-top: -5px;
	padding-top: 31px;
	clear: both;
}
.row .text-center.col-sm-4.col-xs-10.col-xs-offset-1.col-sm-offset-0 .col-lg-12.col-md-12.fix5 {
	margin-top: 30px;
}
.fix6 {
	margin-top: 37px;
}





@media (max-width: 1579px){
	
	.mission{
	background: url('images/mission.jpg') no-repeat center;
	background-size:auto 100%;
	
}
}

@media (max-width: 761px){.yus{
	background: url('images/yus.jpeg') no-repeat center;
	background-size: auto 100%;
}
}

@media (max-width: 800px){
	.imageBrux {
		width: 12%;}
	.residential{
	background: url('images/residential.jpeg') no-repeat center;
	background-size: auto 100%;
	}}
@media (max-width: 680px){
	.quick{
		background: url('images/quick.jpg') no-repeat center;
		background-size: auto 100%;
	}
}



@media (max-width: 870px){
	.commercial{
	background: url('images/commercial.jpg') no-repeat center;
	background-size:auto 100% ;

}



}

@media (max-width: 767px){
.img-circle.img-responsive {
	display: none;
}
	.mission, .commercial, .residential, .quick, .yus {background:#ccc;}
}

@media (min-width: 794px){
	h2{font-size:60px}
	h3{font-size:42px}
	h4{font-size:50px}
	h5{font-size:40px}
	h6{font-size:25px}
	h7{font-size:20px}
}
